click==7.1.1
cycler==0.10.0
Flask==1.1.1
get==2019.4.13
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.3
post==2019.4.13
public==2019.4.13
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
squarify==0.4.3
tablib==1.1.0
Werkzeug==1.0.1
