<body>
  <center>
    <h1> RFM Analysis</h1>
    <h3> Upload the file to generate following results: </h3>
    <form class="" action="/data" method="post" target="_blank">
      <input type="file" name="csvfile" value="" vspace="50"><br>
      <input type="submit" name="" value="Generate Segment File" hspace="15">
      <input type="submit" name="" value="Score Distribution", formaction="/score" hspace="15">
      <input type="submit" name="" value="Segment Distribution", formaction="/segments">
    </form>
  </center>
</body>
